html, head, body {
    font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-family: "ff-tisa-web-pro", serif;
    color: #fff;
    font-weight: 600;
}

/** {*/
    /*border: 1px solid gray;*/

/*}*/

.button,
button
{
    background: #6fbbb7;
    color: #fff;
}

.button.button-primary,
button.button-primary{
    background: #6fbbb7;
    color: #fff;
}

.greyheader {
    background-color: #39474e;
    position: fixed;

}

.container {
    width: 100%;
    position: relative;
}

.bigpic {
    width: 100%;

}

.pictext {
    font-family: "ff-tisa-web-pro", serif;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pressicon {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    /*position: absolute;*/
}